<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://alifile.youximao.tv/ipa/xingtuo_daofengqunying_1_0712_0_com.longkong.321.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://chuantu.biz/t6/348/1532509247x1822611413.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>http://chuantu.biz/t6/348/1532537672x-1566688706.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.longkong.app.321</string>
				<key>bundle-version</key>
				<string>1.2.30</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>刀锋群英</string>
				<key>title</key>
				<string>刀锋群英</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
